@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Message</h2>


<div class="row">
    <div class="col-md-6">
        <p>
            <br />
            Hi, my name is Daniel and I'm a Web Application Developer, and on this blog I discuss various
            applications of web development tools and give tips on how to use them effectively in creating responsive
            and secure web applications. On this blog, you will find tips, on using HTML5, CSS3, Javascript, jQuery, Angular JS,
            Bootstrap, C#, MVC, Entity Framework, Visual Studio, and More.<br />
        </p>
    </div>
    <div class="col-md-6">
        <img src="~/Content/technology_collage.jpg" class="img-responsive">
    </div>
</div>
