@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    850-G Jake Alexander Blvd. #199<br />
    Salisbury, NC 28147<br />
    <abbr title="Phone">P:</abbr>
    704.640.5454
</address>

